---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="geeknees"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Oct 31 1982')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>

	</p>

</Layout>
